
.App {
  text-align: center;
}

body {
  color: #fff;
  background: url('./components/images/bg1.jpg') center no-repeat fixed;
  margin-top: 55px !important;
}

section {
  padding: 4em;
}

section h1 {
  padding: 1em;
}

section#home {
  color: #fff;
  padding: 4em;
}
section#about{
   background-color: #f8f6f8b8;
}
section#projects{
  background-color: #bf7ad9b8;
}